* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #99CC41;
    background: url("../assets/bg.png");
}

body {
    margin: 0;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid #83B231;
}

#players {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

#players li {
    margin-right: 10px;
    display: inline-block;
}

#players .description {
    text-align: center;
    margin-bottom: 10px;
}

#players .bindings {
    margin: 0;
    overflow: hidden;
}

#players .bindings dt {
    float: left;
    clear: both;
}

#players .bindings dd {
    float: right;
    margin-left: 10px;
}

#players .bindings dd input {
    width: 5rem;
}