* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #99CC41;
    background: url("../assets/bg.png");
}

body {
    margin: 0;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid #83B231;
}